.contetn {
    margin-top: 80px;
    width: 100%;
}

.movie-grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    box-sizing: border-box;
    column-gap: 28px;
    row-gap: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.movie-grid__btn {
    margin-top: 60px;
    padding: 0;
    width: 100%;
    min-height: 36px;
    background-color: #2F2F2F;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.movie-grid__btn:hover {
    opacity: 0.5;
}