.student {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 65px;
    margin-bottom: 100px;
    border-top: #DADADA solid 1px;
    width: 100%;
    align-items: center;
}

.student__container{
    display: block;
}

.student__title {
    min-width: 60%;
    margin: 0;
    text-align: left;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    color: #FFFFFF;
    letter-spacing: -0.04em;
}

.student__subtitle {
    margin: 18px 0 0;
    max-width: 600px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.student__text {
    margin: 26px 0 0;
    padding: 0;
    max-width: 600px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.student__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #FFFFFF;
    margin: 99px 0 0;
}

.student__link:hover {
    opacity: 0.5;
}

.student__ava{
    width: 270px;
    height: 327px;
    border-radius: 10px;
    background-image: url('../../images/photoAva.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}