.movie-card__btn_type_deleted {
    background-color: #313131;
    color:transparent;
    background-image: url(../../images/buttons/deletedFilmBtn.svg);
}

.movie-grid__btn_type_hidden{
    visibility: hidden;
    margin-top: 115px;
    background-color: #202020;
    color: #202020;
}

@media (max-width: 768px) {
    .movie-grid__btn_type_hidden {
        margin-top: 57px;
    }
}
