.navigation {
  margin: 0;
  /*max-height: 30px;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.navigation__accaunt {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 18px;
}

.navigation__link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0 0 0 20px;
  margin: 0;
}

.navigation__link:hover {
  cursor: pointer;
  color: #A9A9A9;
}

.navigation__link_text_small-size {
  font-size: 12px;
  line-height: 16px;
}

.navigation__link_type_enter {
  background-color: #3DDC84;
  border-radius: 3px;
  color: #000000;
  margin-left: 30px;
  min-height: 32px;
  max-width: 76px;
  width: 100%;
  height: 100%;
  padding: 8px 20px;
}

.navigation__button {
  margin-left: 13px;
  background-color: #313131;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-image: url('../images/buttons/icon__COLOR_icon-main.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 320px) {
  .navigation__link_text_small-size {
    font-size: 10px;
  }

  .navigation__link_type_enter {
    margin-left: 14px;
    min-height: 26px;
    max-width: 54px;
    padding-left: 13px;
    padding-right: 13px;
  }
}

/*
@media (max-width: 918px) {
    .header__link {
      padding-right: 30px;
    }
  }
*/